.albthumb/*, .noimages*/ {
	display: inline-block;
	position: relative;
	min-height: 150px;
	min-width: 150px;
	margin: 0 5px 5px 0;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}
/*.noimages {
	background: url(../img/noimages.jpg) no-repeat center center;
	background-size: cover;
}*/

.albthumb img {
	width: 100%;
	height: 100%;
}

.albthumb div {
	text-align: center;
	position:absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(51,51,51,0.3);
	color: #FFF;
}
