#iarea {
	position: relative;
	text-align: center;
}
#iarea:focus { outline: none; }
/*.controls {
	font-size: large;
	color: orange;
	float: right;
}*/
#iarea video {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
	outline:none;
}

#ptext {
	position:absolute;
	background-color: rgba(51,51,51,0.6);
	color: #FFFFFF;
	font-size: large;
	line-height: 1.7em;
	right: 0;
	left: 0;
	z-index: 9;
}

/** NEW SLIDE SHOW **/
.islide {
	position:absolute;
}
.initial {
	opacity:0;
	top:-9999px;
	left:-9999px;
}
.img_show {
	opacity:1;
	transition: 0.25s opacity;
	transition-timing-function: ease;
}
.img_hide {
	opacity:0;
	transition: 0.25s opacity;
	transition-timing-function: ease;
}
.img_off {
	opacity:0;
	transition: 0.75s opacity;
	transition-timing-function: ease;
}
.img_on {
	opacity:1;
	transition: 0.75s opacity;
	transition-delay: 0.25s;
	transition-timing-function: ease;
}

/* slide left/right */
.img_slin {
	transition: 0.75s left;
	transition-timing-function: ease-out;
}
