.meedya-gallery {
	position: relative;
}
.meedya-gallery .search {
	float: right;
}
.btn-group.mgmenu {
/*	position: absolute;
	right: 0;
	top: 0;*/
	float: right;
	margin-left: 10px;
}
.mgmenup {
	cursor: pointer;
}
#mgmenu {
	display: none;
	background-color: lavender;
}
.albthumbs {
	clear: both;
	display: flex;
	flex-wrap: wrap;
}
.alb-thumb {
/*	display: inline-block;*/
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.alb-thumb img {
	width: 240px;
	height: 240px;
}
.alb-thm-ttl {
	text-align: center;
	max-width: 240px;
	font-size: larger;
/*	white-space: nowrap;
	overflow-x: hidden;*/
}
