.meedya-config {
	position: relative;
}

.albdsp {
	display: inline-block;
	margin: 0 1em 5px 0;
	width: 20em;
	background-color: #EEE;
	/*position: relative;*/
	float: left;
}
.albthm, .albprp {
	display: inline-block;
	margin-right: 30px;
	vertical-align: top;
}
.albthm {
	margin: 0 5px 0 0;
	border: 1px solid #DDD;
}
.albbar {
	width: 100%;
	background-color: #DDD;
	/*position: absolute;
	bottom: 0;*/
	/*padding-left: 3px;
	padding-right: 3px;*/
	padding: 3px;
	box-sizing: border-box;
	white-space: nowrap;
	position: relative;
}
.aselect {
	background-color: #CCF;
}
.albact {
	/*float: right;*/
	position: absolute;
	top: 3px;
	right: 3px;
	width: 16px;
	height:16px;
	margin-left: 3px;
	cursor: pointer;
}
.albdelb {
	background-image: url(16/deletet.png);
}
.albedtb {
	background-image: url(16/edit.png);
}

.actbuts {
	padding: 6px 2px;
}

#imggrid {
	display: flex;
	flex-wrap: wrap;
}

.lstItem {
	display: flex;
	margin: 2px 0;
}
.lstItem > div {
	margin-left:1em;
/*	margin-right:3em; */
}

/* album view*/
.anitem {
/*	display: inline-block;*/
	width: 100px;
	height: 100px;
	border: 2px solid transparent;
	margin: 1px;
}
.anitem img.over {
	border: 2px solid #CCC;
}

.iselect {
	border: 2px solid blue;
}
.noitem {
	display: inline-block;
	vertical-align: bottom;
	width: 60px;
	height: 120px;
	margin: 1px;
	border: 1px dotted #CCC;
}
.over {
/*	background: #FF6;
	background: linear-gradient(to right, white, darkgray); */
}

.itm-thumb {
	display: inline-block;
}

.btn {
	margin-left: 0.5em;
}

/* tab styling */
dl.tabs {
	margin-left: 8px;
}
dt.tabs {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
dd.tabs {
	border-radius: 4px;
}

/* images editing */
.subbuts {
/*	float: right;*/
	margin-bottom: 8px;
}

.eitem {
	position: absolute;
	display: inline-block;
}
.eitem:hover .item-overlay.top {
	top: 100px;
}
.eitem img {
	width:120px;
	height:120px;
}
.ied-img {
	position: relative;
}
.ied-attr {
	display: inline-block;
	position: relative;
	left: 150px;
}
.iSlct {
	display: none;
	position: absolute;
	top: 1px;
	right: 1px;
	color: lightgreen;
	font-size: 20px;
	padding: 4px;
	background-color: rgba(51, 51, 51, 0.8);
}

/* new album modal */
/*
#newalbdlg {
	width:50%;
	margin-left:-25%;
}
*/
#crealbm .nualbtop {
	float:left;
	margin-right:2em;
}
#crealbm .nualbdsc {
	width:100%;
	box-sizing:border-box;
}
/*
#delact {
	width:500px;
	margin-left:-250px;
}
*/

/* import modal */
.impfld {
	margin-bottom: .5em;
}
#impcbs input {
	vertical-align: baseline;
}
.impfld label, #fast + label {
	display:inline-block ;
	margin:0 0 0 .8em;
}

/* slideshow config */
td.tac {
	text-align:center;
}
#smpl {
	width:25em;
	float:left;
	text-align:center;
	margin-right:20px;
	position:relative;
}
#smpl_c {
}
#smpl_t {
	padding-top:1px;
	position:absolute;
	width:100%;
}
#smpl_p {
	height:160px;
}
#h5ssicons {
	margin-left:10px;
	padding:2px;
	vertical-align:middle;
}

.item {
	position: relative;
	margin:0 2px 2px 0;
/*	height: 120px;*/
}
.item:hover .item-overlay.top {
	top: 100px;
}
.item-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow-y: hidden;

	background: rgba(0,0,0,0.5);
	color: #fff;
	text-align: center;
	width: 100%;

	-moz-transition: top 0.3s;
	-webkit-transition: top 0.3s;
	transition: top 0.3s;
}
.item-overlay i {
	margin: 4px;
	cursor: pointer;
}
.item-overlay.top {
	top: 100%;
}
.item label {
	margin: 0;
}
.item input {
	display: none;
}
.item input:checked + div {
	display: block;
}
.item .itmMove {
	position: absolute;
	left: 2px;
	top: 2px;
	color: white;
	background-color: rgba(0,0,0,.3);
	padding: 2px 1px 0 1px;
	font-size: large;
	cursor: crosshair;
	width: 1em;
}
.item.moving img {
	border: 3px solid yellow;
	width: 114px;
	height: 114px;
}

/** image edit **/
.ied-div2 {
	display: inline-block;
	margin-right: 2em;
}
.ied-div3 {
	display: inline-block;
	vertical-align: top;
}

/* iZoom */
.zoom-back {
	position: fixed;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	z-index: 9999;
}
.zoom-area {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	display: inline-flex;
}
.zoom-area:focus {
	outline: none;
}
.zoom-zimg {
	opacity: 0;
	max-width: 100%;
	max-height: 100%;
	transition: 0.25s opacity;
/*	transition-timing-function: ease;*/
	margin: auto;
}
.zoom-zvid {
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
}
.zoom-zvid:focus {
	outline: none;
}
.zoom-ctnr {
	position: relative;
	text-align: center;
	display: contents;
}
.zoom-closex {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	background-color: #FFF;
	font-size: 24px;
	border-radius: 50%;
	cursor: pointer;
	line-height: 1.2em;
}


/* bootbox styling */
.bootbox-close-button {
	position: absolute;
	top: 0;
	right: 0;
	font-size: larger;
	border: none;
	background-color: transparent;
	z-index: 1;
	padding: 0 .5em;
}


@media only screen and (min-width: 768px) {
	/* For desktop: */
	.itmMove {display: none;}
}

/* tiny color picker */
/*
.cp-patch {
	float:left;
	margin:9px 0 0;
	height:24px;
	width:24px;
	border:1px solid #aaa;
}
.cp-patch {
	background-image: url('data:image/gif;base64,R0lGODlhDAAMAIABAMzMzP///yH5BAEAAAEALAAAAAAMAAwAAAIWhB+ph5ps3IMyQFBvzVRq3zmfGC5QAQA7');
}
.cp-patch div {
	height:24px;
	width:24px;
}
.cp-disp {
	padding:4px 0 4px 4px;
	margin-top:10px;
	font-size:12px;
	height:16px;
	line-height:16px;
	color:#333;
}
.cp-color-picker {
	border:1px solid #999;
	padding: 8px 8px 12px 8px;
	box-shadow:5px 5px 16px rgba(0,0,0,0.4);
	background:#eee;
	overflow:visible;
	border-radius:3px;
}
.cp-color-picker:after {
	content:"";
	display:block;
	position:absolute;
	top:-8px;
	left:8px;
	border:8px solid #eee;
	border-width:0 8px 8px;
	border-color:transparent transparent #eee;
}
.cp-color-picker:before {
	content:"";
	display:block;
	position:absolute;
	top:-9px;
	left:8px;
	border:8px solid #eee;
	border-width:0 8px 8px;
	border-color:transparent transparent #999;
}
.cp-xy-slider {
	border:1px solid #aaa;
	margin-bottom:10px;
	width:150px;
	height:150px;
}
.cp-xy-slider:active {
	cursor:none;
}
.cp-xy-cursor {
	width:12px;
	height:12px;
	margin:-6px;
}
.cp-z-slider {
	margin-left:8px;
	border:1px solid #aaa;
	height:150px;
	width:24px;
}
.cp-z-cursor {
	border-width:5px;
	margin-top:-5px;
}
.cp-color-picker .cp-alpha {
	width:152px;
	margin:10px 0 0;
	height:6px;
	border-radius:6px;
	overflow:visible;
	border:1px solid #aaa;
	box-sizing:border-box;
	background:linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
}
.cp-alpha-cursor {
	background:#eee; border-radius: 100%;
	width:14px;
	height:14px;
	margin:-5px -7px;
	border:1px solid #999 !important;
	box-shadow:inset -2px -4px 3px #ccc;
}
.cp-alpha:after {
	position: absolute;
	content: "X";
	color: #FFF;
	font-size: 24px;
	font-family: monospace;
	right: -32px;
	top: -8px;
	border: 1px solid #333;
	padding: 1px 2px;
	background-color: red;
}
*/
