<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="component" label="COM_MEEDYA_COMPONENT_LABEL" description="COM_MEEDYA_COMPONENT_DESC"
		addfieldpath="/administrator/components/com_meedya/models/fields">

		<field
			name="keep_orig"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_MEEDYA_CONFIG_KEEPO_LABEL"
			description="COM_MEEDYA_CONFIG_KEEPO_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="storQuota" type="GmkbValue"
			label="COM_MEEDYA_CONFIG_QUOTA_LABEL"
			description="COM_MEEDYA_CONFIG_QUOTA_DESC"
			default="0"
			compdef="268435456" />

		<field name="maxUpload" type="GmkbValue"
			label="COM_MEEDYA_CONFIG_MAXUPLD_LABEL"
			description="COM_MEEDYA_CONFIG_MAXUPLD_DESC"
			default="0"
			compdef="4194304" />

		<field name="image_proc" type="list"
			label="COM_MEEDYA_CONFIG_IMGPRC_LABEL"
			description="COM_MEEDYA_CONFIG_IMGPRC_DESC"
		>
			<option value="">AUTO</option>
			<option value="imx">Imagick Extension</option>
			<option value="im">Image Magick</option>
			<option value="gd">GD2</option>
		</field>

		<field
			name="max_width"
			type="DefNumber"
			step="100"
			label="COM_MEEDYA_CONFIG_MAXW_LABEL"
			description="COM_MEEDYA_CONFIG_MAXW_DESC"
			default="0"
			compdef="1200" />

		<field
			name="max_height"
			type="DefNumber"
			step="100"
			label="COM_MEEDYA_CONFIG_MAXH_LABEL"
			description="COM_MEEDYA_CONFIG_MAXH_DESC"
			default="0"
			compdef="1200" />

		<field
			name="thm_width"
			type="DefNumber"
			step="10"
			min="60"
			max="200"
			label="COM_MEEDYA_CONFIG_THMW_LABEL"
			description="COM_MEEDYA_CONFIG_THMW_DESC"
			default="0"
			compdef="120" />

		<field
			name="thm_height"
			type="DefNumber"
			step="10"
			min="60"
			max="200"
			label="COM_MEEDYA_CONFIG_THMH_LABEL"
			description="COM_MEEDYA_CONFIG_THMH_DESC"
			default="0"
			compdef="120" />

		<field
			name="upload_app"
			type="radio"
			class="btn-group btn-group-yesno"
			default="UL"
			label="COM_MEEDYA_CONFIG_UPLOADER_LABEL"
			description="COM_MEEDYA_CONFIG_UPLOADER_DESC"
		>
			<option value="UL">UpLodr</option>
			<option value="DZ">DropZone</option>
		</field>

		<field
			name="show_version"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_MEEDYA_CONFIG_SHOWVER_LABEL"
			description="COM_MEEDYA_CONFIG_SHOWVER_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="version" type="hidden" default="n.n.n" />

	</fieldset>

	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">

		<field
			name="rules"
			type="rules"
			component="com_meedya"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />

	</fieldset>

</config>
